<a href="https://colab.research.google.com/github/Dhananjaydd11/ASSIGMENT/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Q1
#Create five Numbers  Variables and Assign Some Values in it and display the Output of  that Variables

In [ ]:
A = 10
B = 20
C = 30
D = 40
E = 50
print(A)
print(B)
print(C)
print(D)
print(E)

10
20
30
40
50

In [ ]:
# Q2
#Creating five string variables and assigning values
string1 = "Hello"
string2 = "World"
string3 = "Python"
string4 = "Programming"
string5 = "Language"

# Displaying the output
print( string1)
print( string2)
print( string3)
print( string4)
print( string5)

Hello
World
Python
Programming
Language

In [ ]:
#Q3 # Storing days of the week in one variable
days_of_week = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]

# Displaying the output
print( days_of_week)

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

In [ ]:

#Question-4
# Store at least 10  Floating point Number in one Variable
floating_numbers = [3.14, 2.718, 1.618, 0.5, 123.456, 7.89, 9.876, 4.567, 0.001, 8.0]
print(floating_numbers)

[3.14, 2.718, 1.618, 0.5, 123.456, 7.89, 9.876, 4.567, 0.001, 8.0]

In [10]:
#Question-6
# Create Five SET Variables and Assigns Some Values in it and display the Output of that Variables
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
set3 = {5, 6, 7, 8, 9}
set4 = {7, 8, 9, 10, 11}
set5 = {9, 10, 11, 12, 13}
print(set1)
print(set2)
print(set3)
print(set4)
print(set5)

{1, 2, 3, 4, 5}
{3, 4, 5, 6, 7}
{5, 6, 7, 8, 9}
{7, 8, 9, 10, 11}
{9, 10, 11, 12, 13}

In [13]:
#Question-7
# Create Five Tuples Variables and Assigns Some Values in it and display the Output of that Variables
tuple1 = (1, 2, 3, 4, 5)
tuple2 = ('a', 'b', 'c', 'd', 'e')
tuple3 = (3.14, 2.718, 1.618, 0.5, 123.456)
tuple4 = ('apple', 'orange', 'banana', 'grape', 'kiwi')
tuple5 = (True, False, True, False, True)
print(tuple1)
print(tuple2)
print(tuple3)
print(tuple4)
print(tuple5)
print(type(tuple1))
print(type(tuple2))
print(type(tuple3))
print(type(tuple4))
print(type(tuple5))

(1, 2, 3, 4, 5)
('a', 'b', 'c', 'd', 'e')
(3.14, 2.718, 1.618, 0.5, 123.456)
('apple', 'orange', 'banana', 'grape', 'kiwi')
(True, False, True, False, True)
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [17]:
##Question-8
a = 72e3
print(type(a))
# What is the meaning of a ?
#The value of `a` is 72000, representing 72 multiplied by 10 to the power of 3

<class 'float'>

In [18]:
#Question-9
b = 72e-5
print(type(b))

# What is the meaning of a ?
#The value of b is 0.00072, representing 72 multiplied by 10 to the power of -5

<class 'float'>

In [19]:
#Question-10

# Create Five different data types of variables and Show the type of the variable:-
var1 = 42                # Integer
var2 = 3.14              # Float
var3 = "Hello, World!"   # String
var4 = True               # Boolean
var5 = [1, 2, 3]          # List
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))
print(type(var5))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'list'>