<a href="https://colab.research.google.com/github/Dhananjaydd11/ASSIGMENT/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
i = 0
while i <= 10:
  print(i)
  i += 1

0
1
2
3
4
5
6
7
8
9
10

In [7]:
count = 0
while count <= 10:
  print(count)
  count += 1

0
1
2
3
4
5
6
7
8
9
10

In [12]:
for i in range(1, 101):
    if i == 20:
        print(" 50")
    elif i == 50:
        print(' 50 ')

 50
 50

In [14]:
nos = int(input("Enter how many number yo want to display"))
x = 0
y = 1

c = 2
print("fibonacci sequence is")
print(x)
print(y)

while(c<nos):
  z = x + y
  print(z)
  x = y
  y = z

  c += 1

Enter how many number yo want to display100
fibonacci sequence is
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269
2178309
3524578
5702887
9227465
14930352
24157817
39088169
63245986
102334155
165580141
267914296
433494437
701408733
1134903170
1836311903
2971215073
4807526976
7778742049
12586269025
20365011074
32951280099
53316291173
86267571272
139583862445
225851433717
365435296162
591286729879
956722026041
1548008755920
2504730781961
4052739537881
6557470319842
10610209857723
17167680177565
27777890035288
44945570212853
72723460248141
117669030460994
190392490709135
308061521170129
498454011879264
806515533049393
1304969544928657
2111485077978050
3416454622906707
5527939700884757
8944394323791464
14472334024676221
23416728348467685
37889062373143906
61305790721611591
99194853094755497
160500643816367088
259695496911122585
420196140727489673
679891637638612258
1100087778366101931
1779979416004714189
2880067194370816120
4660046610375530309
7540113804746346429
12200160415121876738
19740274219868223167
31940434634990099905
51680708854858323072
83621143489848422977
135301852344706746049
218922995834555169026

In [18]:
# Function to find the sum of numbers in a list
def find_sum(numbers):
    total = sum(numbers)
    return total

# Example usage
numbers_to_sum = [1, 2, 3, 4, 5]
result = find_sum(numbers_to_sum)

print(f"The sum of {numbers_to_sum} is: {result}")

The sum of [1, 2, 3, 4, 5] is: 15

In [31]:
from ast import Add
add_num = [1, 2, 3, 4, 5]
result = sum(add_num)

print(f"sum of add_num {add_num} is: {result}")

sum of add_num [1, 2, 3, 4, 5] is: 15

In [33]:
n = int(input("enter a number "))

s = 0
while(n>0):
  rem = n%10    ##use reminder
  s = s + rem
  n  = int(n/10)

print("sum of number",s)

enter a number 120
sum of number 3

In [ ]:
program to find the revers

In [34]:
n = int(input("enter a number "))

s = 0
while(n>0):
  rem = n%10    ##use reminder
  s = s + rem
  n  = int(n/10)

print("sum of number",s)

enter a number 123
sum of number 6

In [35]:
n = int(input("enter a number "))

rev= 0
while(n>0):
  rem = n%10    ##use reminder
  rev= rev*10 + rem
  n  = int(n/10)

print("sum of number",rev)

enter a number 123
sum of number 321

In [43]:
for i in range(1, 6):
    for j in range(1, i + 1):
        print(j, end="")
    print()

1
12
123
1234
12345

In [46]:
i = 1
while i <= 4:
    j = 1
    while j <= i:
        print(j , end ='')
        j += 1
    print()
    i += 1

1
12
123
1234